@font-face {
  font-family: "iconfont"; /* Project id 5124035 */
  src: url('iconfont.woff2?t=1771643234070') format('woff2'),
       url('iconfont.woff?t=1771643234070') format('woff'),
       url('iconfont.ttf?t=1771643234070') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bofang:before {
  content: "\e63d";
}

.icon-bofang1:before {
  content: "\e61c";
}

.icon-chuangkou:before {
  content: "\e664";
}

.icon-fanhui:before {
  content: "\e61e";
}

.icon-jinru:before {
  content: "\e621";
}

.icon-xiaoxi-zhihui:before {
  content: "\e61d";
}

.icon-xiai:before {
  content: "\e603";
}

.icon-xiazai:before {
  content: "\e612";
}

.icon-wangpan:before {
  content: "\e7a9";
}

.icon-shoucang-yishoucang:before {
  content: "\e604";
}

.icon-yinle1:before {
  content: "\e602";
}

.icon-shouyinji:before {
  content: "\e600";
}

.icon-yinle:before {
  content: "\e601";
}

.icon-erji:before {
  content: "\e60c";
}

.icon-bg-chat:before {
  content: "\e641";
}

.icon-boke:before {
  content: "\e609";
}

.icon-voicefill:before {
  content: "\e6f0";
}

.icon-wefill:before {
  content: "\e6f4";
}

.icon-backwardfill:before {
  content: "\e74d";
}

.icon-stop:before {
  content: "\e750";
}

.icon-clothing:before {
  content: "\e655";
}

.icon-service:before {
  content: "\e68c";
}

.icon-play_forward_fill:before {
  content: "\e7f5";
}

.icon-pailie:before {
  content: "\e8e6";
}

.icon-wode-tianchong:before {
  content: "\e714";
}

.icon-RectangleCopy:before {
  content: "\e6a2";
}

.icon-RectangleCopy1:before {
  content: "\e6a4";
}

.icon-RectangleCopy2:before {
  content: "\e6a5";
}

.icon-email:before {
  content: "\e66f";
}

.icon-fabulous:before {
  content: "\e670";
}

.icon-home:before {
  content: "\e674";
}

.icon-add-bold:before {
  content: "\e685";
}

.icon-close-bold:before {
  content: "\e686";
}

.icon-minus-bold:before {
  content: "\e687";
}

.icon-clock-filling:before {
  content: "\e689";
}

