*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0.17rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background-color: #f7f9fc;
    display: flex;
    height: 100rem;
}
.side_nav{
    background-color: #f0f3f6;
    width: 2rem;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
}
.logo{
    width: 1.5rem;
    height:0.3rem ;
    position: absolute;
    top: 0.2rem;
    display: flex;
    align-items: center;
    background-color: #f0f3f6;
}
.logo_img{
    width: 0.28rem;
    height: 0.28rem;
    border-radius: 50%;
    background-image: url(./网易云img/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 0.1rem;

}
.logo_node{
    width: 0.96rem;
    height: 0.28rem;
    font-size: 0.17rem;
    line-height: 0.28rem;
    position: absolute;
    right: 0;
    color: #283248;

}
.menu{
    list-style: none;
    width: 1.6rem;
    position: absolute;
    left: 0.24rem;
    top: 0.95rem;
    
    color: #787f8d;
}
.menu li {
    height: 0.36rem;
    width: 1.6rem;
    border-radius: 0.05rem;
    display: flex;
    align-items: center;
    color: #787f8d;
}
.menu li a{
    height: 0.36rem;
    width: 100%;
    border-radius: 0.05rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    padding-left: 0.1rem;
}
.menu li:not(.active):hover{
    background-color: #e4e8ec;
}
.menu li a p{
    position: absolute;
    left: 0.4rem;
}
.menu .active{
    background-color: #fc3d49;
    color: white;
}

.menu::after{
    position: absolute;
    top: 1.9rem;
    display: block;
    content: '';
    height: 0.02rem;
    flex: 1;
    width: 100%;
    background-color: #e4e8ec;
}
.side_nav .my{
    color: #a0a6b1;
    position: absolute;
    top: 3.1rem;
    left: 0.32rem;
    font-size: 0.12rem;
}
.myInfo{
    list-style: none;
    width: 1.6rem;
    position: absolute;
    left: 0.24rem;
    top: 3.6rem;
    color: #50598b;
}
.myInfo li {
    height: 0.36rem;
    width: 1.6rem;
    border-radius: 0.05rem;
    display: flex;
    align-items: center;
    color: #787f8d;
}
.myInfo li a{
    height: 0.36rem;
    width: 100%;
    border-radius: 0.05rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    padding-left: 0.1rem;
}
.myInfo li:not(.active):hover{
    background-color: #e4e8ec;
}
.myInfo li a p{
    position: absolute;
    left: 0.4rem;
}
.myInfo .active{
    background-color: #fc3d49;
    color: white;
}
 .more{
    font-size: 0.12rem;
    color: #a0a6b1;
    
}
.myInfo .more:hover{
    color: #283248;
}
.myInfo .openList a:hover,
.myInfo .closeList a:hover{
    background-color: #f0f3f6;
}
.myInfo >:nth-child(n+5):nth-child(-n+9){
    display: none;
}
.header{
    height: 0.65rem;
    width: calc(100% - 2rem);
    position: fixed;
    left: 2rem;
    display: flex;
    align-items: center;
    background-color: #f7f9fc;
    z-index: 1;
}
#back{
    width: 0.28rem;
    height: 0.36rem;
    border: solid #e2e5e9;
    border-radius: 0.05rem;
    background-color: #f7f9fc;
    position: absolute;
    left: 0.36rem;
}
.header_search{
    height: 0.32rem;
    width: 2.56rem;
    border-radius: 0.05rem;
    position: absolute;
    display: flex;
    align-items: center;
    left: 0.75rem;
}
.header_search a{
    font-size: 0.2rem;
    padding-left: 0.2rem;
    color: #9ea5b4;
}
.header_search::before{
    content: '';
    position: absolute;
    top: -0.02rem;
    bottom: -0.02rem;
    left: -0.02rem;
    right: -0.02rem;
    background: linear-gradient(to bottom right,#eaf0fb,#f6e4f2); 
    border-radius: 0.05rem;
    z-index: -1;
}

.header_search input{
    outline: none;
    border: none;
    flex: 1;
    border-radius: 0.05rem;
    background: linear-gradient(to bottom right,#eaf0fb,#f6e4f2) ;
}
#speak{
    width: 0.36rem;
    height: 0.36rem;
    color: #656a7d;
    border: solid #f3e6f1;
    border-radius: 0.05rem;
    background:linear-gradient(225deg,#f5eff9,#f6eef7);
    position: absolute;
    left: 3.4rem;
}
.user_info{
    display: flex;
    align-items: center;
    width: 5rem;
    height: 0.8rem;
    position: absolute;
    left: 8rem;
    
}
#user_img{
    color: #f8d9d6;
    font-size: 0.4rem;
} 
#uname{
    font-size: 0.14rem;
    color: #666d7e;
}
.user_info .user_tool{
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    
}
.user_info .user_tool a{
    font-size: 0.25rem;
    color: #9aa0aa;
    margin-right: 0.16rem;
}
.user_info .user_tool a:hover{
    color: #283248;
}
.wrapper{
    
    width: calc(100% - 2rem);
    position: absolute;
    left: 2rem;
    top: 0.65rem;
    display: flex;
}
.slider{
    width: 12.5rem;
    height: 2.56rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0.36rem;
}
.slider .slider_container{
    width: 1.6rem;
    height: 2.1rem;
    border-radius: 0.1rem;
    position: relative;
   
    
}
.slider .slider_container img{
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 0.1rem 0.1rem 0 0;
    position: absolute;
    top: 0;
    z-index: -1;
    
}
.slider .slider_container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.1rem 0.1rem 0 0;
    box-shadow: inset 0 0.4rem 0.4rem -0.2rem rgba(106, 102, 102, 0.2), inset 0 0.2rem 0.2rem -0.1rem rgba(106, 102, 102, 0.3);
    width: 100%;
    height: 1.6rem;
}
.slider .slider_container p{
    font-size: 0.18rem;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 0.1rem;
    left: 0.1rem;
}
.slider .slider_container .slider_footer{
    height: 0.5rem;
    width: 1.6rem;
    border-radius: 0 0 0.1rem 0.1rem;
    background-color: pink;
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 0.13rem;
    padding-left: 0.1rem;
    transition:height 0.5s ease ;

}

.slider .slider_container:nth-child(1) .slider_footer
{
    background-color: #7084a1;
}
.slider .slider_container:nth-child(2) .slider_footer
{
    background-color: #baaaba;
}
.slider .slider_container:nth-child(3) .slider_footer{
    background-color: #594a3a;
}
.slider .slider_container:nth-child(4) .slider_footer
{
    background-color: #563838;

}
.slider .slider_container:nth-child(5) .slider_footer
{
    background-color: #2d455c;
}
.slider .slider_container:nth-child(6) .slider_footer{
    background-color: #363e4e;
}
.slider .slider_container:nth-child(7) .slider_footer{
    background-color: pink;
}
/* 推荐歌单 */
.reconmend_list{
    width: calc(100% - 2rem);
    position: absolute;
    left: 0.36rem;
    top: 2.63rem;
    display: flex;
}
.reconmend_list .node{
    display: flex;
    font-weight: bold;
    align-items: center;
    font-size: 0.19rem;
}
.reconmend_list .songList{
    width: 12.5rem;
    height: 1.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0.18rem;
}
.reconmend_list .songList .single{
    height: 1.6rem;
    width: 1.2rem;
    position: relative;
}
.reconmend_list .songList .single img{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 0.06rem;
    position: absolute;
    top: 0;
    z-index: -1;
}
.reconmend_list .songList .single p{
    font-size: 0.12rem;
    color: white;
    position: absolute;
    top: 0.05rem;
    left: 0.1rem;
    font-weight: bold;
}
.reconmend_list .songList .single .footer{
    height: 0.4rem;
    width: 1.2rem;
    color: #717888;
    position: absolute;
    bottom: 0;
    
    font-size: 0.13rem;
     
}
/* 轮播图 */
 .activity_slider{
    position: absolute;
    top: 5.03rem;
    left: 0.36rem;
    width: 12.5rem;
    height: 2.4rem;
    display: flex;
    overflow: hidden;
}
.activity_slider .node{
    font-weight: bold;
    font-size: 0.19rem;
}
.activity_slider .container{
    height: 1.66rem;
    width: 12.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0.38rem;
        
}
.activity_slider .container:nth-child(3){
    left: 12.5rem;
}
.activity_slider .container .single,
.activity_slider .container .single img{
    width: 3rem;
    height: 1.66rem;
    border-radius: 0.05rem;
}
.slider_indicator{
    position: absolute;
    bottom: 0;
    left: 5.9rem;
    width: 0.7rem;
    height: 0.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 1s ease;

}
.slider_indicator li{
    border-radius: 50%;
    transition: all 1s ease;
}
.slider_indicator li{
    width: 0.05rem;
    height: 0.05rem;
    background-color: #ced1d8;
}
.slider_indicator li.active
{
    width: 0.064rem;
    height: 0.064rem;
    background-color: #838897;
}
#left,#right{
    background-color: rgba(0,0,0,0);
    border: none;
    width: 0.3rem;
    height: 1rem;
    font-size: 0.3rem;
    z-index: 2;
    color: #787f8d;
    position: absolute;
    top: 5.8rem;
}
#right{
    font-weight: bold;
    font-size: 0.35rem;
    right: 0.2rem;
}















































